//

[wavedrom, ,svg]

....
{reg: [
  {bits: 2, name: 'op', attr: ['2','C2'],},
  {bits: 10, name: '0', attr: ['10','0'],},
  {bits: 4, name: 'funct4', attr: ['4','C.EBREAK'],},
], config: {bits: 16}}
....
