//c-cj-format-ls

//[wavedrom, ,svg]
//....
//{reg: [
//   {bits: 2,  name: 'op', attr: ['2','CI','CI']},
//   {bits: 10, name: 'imm'},
//   {bits: 4,  name: 'funct3' attr:['3','CJ','CJAL']},
//] config: {bits: 16}}
//....


[wavedrom, ,svg]
....
{reg: [
  {bits: 2, name: 'op',     attr: ['2','C1','C1']},
  {bits: 11, name: 'imm',   attr: ['11','offset[11|4|9:8|10|6|7|3:1|5]','offset[11|4|9:8|10|6|7|3:1|5]']},
  {bits: 3, name: 'funct3', attr: ['3','C.J','C.JAL']},
], config: {bits: 16}}
....
