//## 16.X Load and Store Instructions
//### c-cs-format-ls

[wavedrom, ,svg]
....
{reg: [
  {bits: 2, name: 'op',     attr: ['2', 'C0','C0','C0','C0','C0']},
  {bits: 3, name: 'rs2ʹ',   attr: ['3', 'src','src','src','src','src']},
  {bits: 2, name: 'imm',    attr: ['2', 'offset[2|6]','offset[7:6]','offset[7:6]','offset[2|6]','offset[7:6]']},
  {bits: 3, name: 'rs1ʹ',   attr: ['3', 'base','base','base','base','base']},
  {bits: 3, name: 'imm',    attr: ['3', 'offset[5:3]','offset[5:3]','offset[5|4|8]','offset[5:3]','offset[5:3]']},
  {bits: 3, name: 'funct3', attr: ['3', 'C.SW','C.SD','C.SQ','C.FSW','C.FSD']},
], config: {bits: 16}}
....
