//

[wavedrom, ,svg]

....
{reg: [
  {bits: 2, name: 'op', attr: ['2','C1'],},
  {bits: 5, name: 'imm[4:0]', attr: ['5','0'],},
  {bits: 5, name: 'rd/rs1', attr: ['5','0'],},
  {bits: 1, name: 'imm[5]', attr: ['1','0'],},
  {bits: 3, name: 'funct3', attr: ['3','C.NOP'],},
]}
....
