//## 13.6 Double-Precision Floating-Point Compare Instructions

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode', attr: ['7','OP-FP']},
  {bits: 5, name: 'rd',     attr: ['5','dest']},
  {bits: 3, name: 'rm',  attr: ['3','EQ/LT/LE']},
  {bits: 5, name: 'rs1',    attr: ['5','src1']},
  {bits: 5, name: 'rs2',    attr: ['5','src2']},
  {bits: 2, name: 'fmt',    attr: ['2','D']},
  {bits: 5, name: 'funct5', attr: ['5','FCMP']},
]}
....
