//FCVT.S.D and FCVT.D.S

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode', attr: ['7','OP-FP','OP-FP']},
  {bits: 5, name: 'rd',     attr: ['5','dest','dest']},
  {bits: 3, name: 'rm',     attr: ['3','RM','RM']},
  {bits: 5, name: 'rs1',    attr: ['5','src','src']},
  {bits: 5, name: 'rs2',    attr: ['5','D', 'S']},
  {bits: 2, name: 'fmt',    attr: ['2','S','D']},
  {bits: 5, name: 'funct5', attr: ['5','FCVT.S.D', 'FCVT.D.S']},
]}
....
