//# "F" Standard Extension for Single-Precision Floating-Point, Version 2.2
//## 12.2 Floating-Point Control and Status Register
//### Figure 12.2: Floating-point control and status register.

[wavedrom, ,svg]
....
{reg: [
  {bits: 1,  name: 'NX', attr: ['1']},
  {bits: 1,  name: 'UF', attr: ['1']},
  {bits: 1,  name: 'OF', attr: ['1']},
  {bits: 1,  name: 'DZ', attr: ['1']},
  {bits: 1,  name: 'NV', attr: ['1']},
  {bits: 3,  name: 'Rounding Mode', attr:['3']},
  {bits: 24, name: 'Reserved', attr:['24']},
], config: {fontsize: 10}}
....
