//## 15.1 Half-Precision Load and Store Instructions

[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode',    attr: 'LOAD-FP'},
  {bits: 5,  name: 'rd',        attr: 'dest'},
  {bits: 3,  name: 'width',     attr: 'H'},
  {bits: 5,  name: 'rs1',       attr: 'base'},
  {bits: 12, name: 'imm[11:0]', attr: 'offset'},
]}

....
