//hypv-virt-load-and-store.edn

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode',    type: 3, attr: ['7','SYSTEM', 'SYSTEM', 'SYSTEM']},
  {bits: 5, name: 'rd',  type: 5, attr: ['5','dest', 'dest', '0']},
  {bits: 3, name: 'funct3',    type: 5, attr: ['3','PRIVM', 'PRIVM', 'PRIVM']},
  {bits: 5, name: 'rs1',    type: 4, attr: ['5','addr', 'addr', 'addr']},
  {bits: 5, name: 'rs2',    type: 4, attr: ['5','[U]', 'HLVX', 'src']},
  {bits: 7, name: 'funct7',        type: 5, attr: ['7','HLV.width', 'HLVX.HU/WU', 'HSV.width']},
], config: {bits: 32}}
....