//hypv-mm-fence.edn

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode',    type: 3, attr: ['7', 'SYSTEM', 'SYSTEM']},
  {bits: 5, name: 'rd',  type: 5, attr: ['5','0', '0']},
  {bits: 3, name: 'funct3',    type: 5, attr: ['3','PRIV', 'PRIV']},
  {bits: 5, name: 'rs1',    type: 4, attr: ['5','vaddr', 'gaddr']},
  {bits: 5, name: 'rs2',    type: 4, attr: ['5','asid', 'vmid']},
  {bits: 7, name: 'funct7',        type: 5, attr: ['7','HFENCE.VVMA', 'HFENCE.GVMA']},
], config: {bits: 32}}
....