//### Figure 2.4
//Types of immediate produced by RISC-V instructions. The fields are labeled with the instruction bits used to construct their value. Sign extension always uses inst[31].
//#### I-immediate

[wavedrom, ,svg]
....
{reg: [
  {bits: 1,  name: '[20]'},
  {bits: 4,  name: 'inst[24:21]'},
  {bits: 6,  name: 'inst[30:25]'},
  {bits: 21,  name: '— inst[31] —'},
], config:{fontsize: 12, label:{right: 'I-immediate'}}}
....
