//#### J-immediate

[wavedrom, ,svg]
....
{reg: [
  {bits: 1,  name: '0'},
  {bits: 4,  name: 'inst[24:21]'},
  {bits: 6,  name: 'inst[30:25]'},
  {bits: 1,  name: '[20]'},
  {bits: 8,  name: 'inst[19:12]'},
  {bits: 12, name: '— inst[31] —'},
], config:{fontsize: 12, label:{right: 'J-immediate'}}}
....
