//# 9 "A" Standard Extension for Atomic Instructions, Version 2.1
//## 9.2 Load-Reserved/Store-Conditional Instructions


[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode',    attr: ['7', 'AMO', 'AMO']},
  {bits: 5,  name: 'rd',        attr: ['5', 'dest', 'dest']},
  {bits: 3,  name: 'funct3',    attr: ['3', 'width', 'width']},
  {bits: 5,  name: 'rs1',       attr: ['5', 'addr', 'addr']},
  {bits: 5,  name: 'rs2',       attr: ['5', '0', 'src']},
  {bits: 1,  name: 'rl',        attr: ['1', 'ring', 'ring']},
  {bits: 1,  name: 'aq',        attr: ['1', 'orde', 'orde']},
  {bits: 5,  name: 'funct5',    attr: ['5', 'LR.W/D', 'SC.W/D']},
]}
....
