//.Additional machine-mode status (`mstatush`) register  for RV32.
[wavedrom, ,svg]
....
{reg: [
  {bits:  4, name: 'WPRI'},
  {bits:  1, name: 'SBE'},
  {bits:  1, name: 'MBE'},
  {bits:  1, name: 'GVA'},
  {bits:  1, name: 'MPV'},
  {bits:  1, name: 'WPRI'},
  {bits:  1, name: 'MPELP'},
  {bits:  1, name: 'MDT'},
  {bits: 21, name: 'WPRI'},
], config:{lanes: 2, hspace:1024}}
....
