//#### S-immediate

[wavedrom, ,svg]
....
{reg: [
  {bits: 1,  name: '[7]'},
  {bits: 4,  name: 'inst[11:8]'},
  {bits: 6,  name: 'inst[30:25]'},
  {bits: 21,  name: '— inst[31] —'},
], config:{fontsize: 12, label:{right: 'S-immediate'}}}
....
