[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode',    attr: ['7', 'SYSTEM'],  type: 8},
  {bits: 5,  name: 'rd',        attr: ['5', '0'],     type: 2},
  {bits: 3,  name: 'funct3',     attr: ['3', 'PRIV'],    type: 8},
  {bits: 5,  name: 'rs1',       attr: ['5', '0'],     type: 4},
  {bits: 5,  name: 'rs2',       attr: ['5', '0'],     type: 4},
  {bits: 7,  name: 'funct7',     attr: ['7', 'SFENCE.W.INVAL'],    type: 8},
]}
....