//## 12.6 Single-Precision Floating-Point Computational Instructions for ZFH Chapter

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode', attr: ['7','OP-FP','OP-FP','OP-FP','OP-FP']},
  {bits: 5, name: 'rd',     attr: ['5','dest','dest','dest','dest']},
  {bits: 3, name: 'rm',  attr: ['3','RM', 'RM', 'MIN/MAX', 'RM']},
  {bits: 5, name: 'rs1',    attr: ['5','src1', 'src1', 'src1', 'src']},
  {bits: 5, name: 'rs2',    attr: ['5','src2', 'src2', 'src2', '0']},
  {bits: 2, name: 'fmt',    attr: ['2','H', 'H', 'H', 'H']},
  {bits: 5, name: 'funct5', attr: ['5', 'FADD/FSUB', 'FMUL/FDIV', 'FMIN-MAX', 'FSQRT']},
]}
....
