[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode', type: 8, attr: ['7']},
  {bits: 5, name: 'rd', type: 2, attr: ['5']},
  {bits: 3, name: 'funct3', type: 8, attr: ['3']},
  {bits: 5, name: 'Addr. Offset', type: 4, attr: ['5']},
  {bits: 5, name: 'rs2', type: 4, attr: ['5']},
  {bits: 7, name: 'funct7', type: 8, attr: ['7']},
], config: {bits: 32}}
....