//# 4 "Zihintpause" Pause Hint, Version 1.0

[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode',    attr: 'MISC-MEM'},
  {bits: 5,  name: 'rd', attr: 0},
  {bits: 3,  name: 'funct3', attr: 'PAUSE'},
  {bits: 5,  name: 'rs1', attr: 0},
  {bits: 1,  name: 'SW', attr: 0},
  {bits: 1,  name: 'SR', attr: 0},
  {bits: 1,  name: 'SO', attr: 0},
  {bits: 1,  name: 'SI', attr: 0},
  {bits: 1,  name: 'PW', attr: 1},
  {bits: 1,  name: 'PR', attr: 0},
  {bits: 1,  name: 'PO', attr: 0},
  {bits: 1,  name: 'PI', attr: 0},
  {bits: 4,  name: 'fm', attr: 0},
]}
....
