riscv-spec.aux
riscv-spec.bbl
riscv-spec.blg
riscv-spec.log
riscv-spec.out
riscv-spec.pdf
riscv-spec.toc
riscv-privileged.aux
riscv-privileged.bbl
riscv-privileged.blg
riscv-privileged.log
riscv-privileged.out
riscv-privileged.pdf
riscv-privileged.toc
