//.Machine environment configuration (`menvcfg`) register.
[wavedrom, ,svg]
....
{reg: [
  {bits:  1, name: 'FIOM', type: 5},
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'LPE', type: 5},
  {bits:  1, name: 'SSE', type: 5},
  {bits:  2, name: 'CBIE', type: 6},
  {bits:  1, name: 'CBCFE', type: 5},
  {bits:  1, name: 'CBZE', type: 5},
  {bits: 24, name: 'WPRI', type: 7},
  {bits:  2, name: 'PMM', type: 6},
  {bits: 25, name: 'WPRI', type: 7},
  {bits:  1, name: 'DTE', type: 5},
  {bits:  1, name: 'CDE', type: 5},
  {bits:  1, name: 'ADUE', type: 5},
  {bits:  1, name: 'PBMTE', type: 5},
  {bits:  1, name: 'STCE', type: 5},
], config:{lanes: 4, hspace:1024}}
....
