//.Machine security configuration (`mseccfg`) register.
[wavedrom, ,svg]
....
{reg: [
  {bits:  1, name: 'MML', type: 5},
  {bits:  1, name: 'MMWP', type: 5},
  {bits:  1, name: 'RLB', type: 5},
  {bits:  5, name: 'WPRI', type: 7},
  {bits:  1, name: 'USEED', type: 5},
  {bits:  1, name: 'SSEED', type: 5},
  {bits:  1, name: 'MLPE', type: 5},
  {bits: 21, name: 'WPRI', type: 7},
  {bits:  2, name: 'PMM', type: 6},
  {bits: 30, name: 'WPRI', type: 7},
], config:{lanes: 4, hspace:1024}}
....
