//.Additional machine-mode status (`mstatush`) register  for RV32.
[wavedrom, ,svg]
....
{reg: [
  {bits:  4, name: 'WPRI', type: 7},
  {bits:  1, name: 'SBE', type: 5},
  {bits:  1, name: 'MBE', type: 5},
  {bits:  1, name: 'GVA', type: 5},
  {bits:  1, name: 'MPV', type: 5},
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'MPELP', type: 5},
  {bits:  1, name: 'MDT', type: 5},
  {bits: 21, name: 'WPRI', type: 7},
], config:{lanes: 2, hspace:1024}}
....
