//.Machine-mode status (`mstatus`) register for RV64
[wavedrom, ,svg]
....
{reg: [
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'SIE', type: 5},
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'MIE', type: 5},
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'SPIE', type: 5},
  {bits:  1, name: 'UBE', type: 5},
  {bits:  1, name: 'MPIE', type: 5},
  {bits:  1, name: 'SPP', type: 5},
  {bits:  2, name: 'VS[1:0]', type: 6},
  {bits:  2, name: 'MPP[1:0]', type: 6},
  {bits:  2, name: 'FS[1:0]', type: 6},
  {bits:  2, name: 'XS[1:0]', type: 6},
  {bits:  1, name: 'MPRV', type: 5},
  {bits:  1, name: 'SUM', type: 5},
  {bits:  1, name: 'MXR', type: 5},
  {bits:  1, name: 'TVM', type: 5},
  {bits:  1, name: 'TW', type: 5},
  {bits:  1, name: 'TSR', type: 5},
  {bits:  1, name: 'SPELP', type: 5},
  {bits:  1, name: 'SDT', type: 5},
  {bits:  7, name: 'WPRI', type: 7},
  {bits:  2, name: 'UXL[1:0]', type: 6},
  {bits:  2, name: 'SXL[1:0]', type: 6},
  {bits:  1, name: 'SBE', type: 5},
  {bits:  1, name: 'MBE', type: 5},
  {bits:  1, name: 'GVA', type: 5},
  {bits:  1, name: 'MPV', type: 5},
  {bits:  1, name: 'WPRI', type: 7},
  {bits:  1, name: 'MPELP', type: 5},
  {bits:  1, name: 'MDT', type: 5},
  {bits: 20, name: 'WPRI', type: 7},
  {bits:  1, name: 'SD', type: 5},
], config:{lanes: 4, hspace:1024}}
....
