[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def row-height 30)
(def row-header-fn nil)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 20 :labels (reverse ["0" "" "" "" "" "" "" "" "" "" "" "" "6" "" "7" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "MXLEN-1"])})

(draw-box (text "Reserved (WPRI)" {:font-size 22}) {:span 18})
(draw-box (text "pmpnum (WARL)" {:font-size 22}) {:span 14})

(draw-box (text "MXLEN-7" {:font-size 20}) {:span 18 :borders {}})
(draw-box (text "7" {:font-size 20}) {:span 14 :borders {}})
----
