[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def left-margin 30)
(def right-margin 30)
(def row-height 40)
(def row-header-fn nil)
(def boxes-per-row 44)


(draw-box "SXLEN-1" {:span 4 :text-anchor "start" :borders {}})
(draw-box "10" {:span 4 :text-anchor "end" :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "8" {:span 4 :borders {}})
(draw-box "7" {:span 4 :borders {}})
(draw-box "6" {:span 3 :text-anchor "start" :borders {}})
(draw-box "5" {:span 3 :text-anchor "end" :borders {}})
(draw-box "4" {:span 3 :text-anchor "start" :borders {}})
(draw-box "3" {:span 3 :text-anchor "end" :borders {}})
(draw-box "2" {:span 4 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "0" {:span 4 :borders {}})


(draw-box "Reserved (WPRI)" {:span 8 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "SHARED (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "U (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "L (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "Reserved (WPRI)" {:span 6 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "A (WARL)" {:span 6 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "X (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "W (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box "R (WARL)" {:span 4 :text-anchor "middle" :borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated :right :border-unrelated}})


(draw-box "SXLEN-10" {:span 8 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "2" {:span 6 :borders {}})
(draw-box "2" {:span 6 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "1" {:span 4 :borders {}})
(draw-box "1" {:span 4 :borders {}})
----
