[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "33" {:span 5 :text-anchor "start" :borders {}})
(draw-box "22" {:span 5 :text-anchor "end" :borders {}})
(draw-box "21" {:span 5 :text-anchor "start" :borders {}})
(draw-box "12" {:span 5 :text-anchor "end" :borders {}})
(draw-box "11" {:span 6 :text-anchor "start" :borders {}})
(draw-box "0" {:span 6 :text-anchor "end" :borders {}})

(draw-box "PPN[1]" {:span 10})
(draw-box "PPN[0]" {:span 10})
(draw-box "page offset" {:span 12})

(draw-box "12" {:span 10 :borders {}})
(draw-box "10" {:span 10 :borders {}})
(draw-box "12" {:span 12 :borders {}})
----
