[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "63" {:span 2 :borders {}})
(draw-box "62" {:span 2 :borders {}})
(draw-box "61" {:span 9 :text-anchor "start" :borders {}})
(draw-box "8" {:span 9 :text-anchor "end" :borders {}})
(draw-box "7" {:span 2 :borders {}})
(draw-box "6" {:span 2 :borders {}})
(draw-box "5" {:borders {}})
(draw-box "4" {:borders {}})
(draw-box "3" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "0" {:span 2 :borders {}})

(draw-box "STCE" {:span 2})
(draw-box "PBMTE" {:font-size 22 :span 2})
(draw-box (text "WPRI" {:font-size 24 :font-weight "bold"}) {:span 18})
(draw-box "CBZE" {:span 2})
(draw-box "CBCFE" {:span 2})
(draw-box "CBIE" {:span 2})
(draw-box (text "WPRI" {:font-size 24 :font-weight "bold"}) {:span 2})
(draw-box "FIOM" {:span 2})

(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "54" {:span 18 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "3" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
----