[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 22}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 200)
(def right-margin 200)
(def boxes-per-row 32)

(draw-box "31" {:span 31 :text-anchor "start" :borders {}})
(draw-box "0" {:borders {}})

(draw-box "htimedelta" {:font-size 20 :span 32})
(draw-box "htimedeltah" {:font-size 20 :span 32})

(draw-box "32" {:span 32 :borders {}})
----
