[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30 )
(def row-header-fn nil)
(def left-margin 200)
(def right-margin 200)
(def boxes-per-row 16)

(draw-box "SXLEN-1" {:span 3 :borders {}})
(draw-box "SXLEN-2" {:span 6 :text-anchor "start" :borders {}})
(draw-box "0" {:span 7 :text-anchor "end" :borders {}})

(draw-box "Interrupt" {:span 3})
(draw-box "Exception Code" {:span 6 :text-anchor "end":borders{:top :border-unrelated :bottom :border-unrelated :left :border-unrelated}})
(draw-box (text "(WLRL)" {:font-weight "bold"}) {:span 7 :text-anchor "start" :borders{:top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})

(draw-box "1" {:span 3 :borders {}})
(draw-box "SXLEN-1" {:span 13 :borders {}})

----