[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "SXLEN-1" {:span 5 :text-anchor "start" :borders {}})
(draw-box "34" {:span 5 :text-anchor "end" :borders {}})
(draw-box "33" {:span 2 :text-anchor "start" :borders {}})
(draw-box "32" {:span 1 :text-anchor "end" :borders {}})
(draw-box "31" {:span 5 :text-anchor "start" :borders {}})
(draw-box "8" {:span 4 :text-anchor "end" :borders {}})
(draw-box "7" {:span 2 :borders {}})
(draw-box "6" {:span 2 :borders {}})
(draw-box "5" {:text-anchor "start" :borders {}})
(draw-box "4" {:text-anchor "end" :borders {}})
(draw-box "3" {:text-anchor "start" :borders {}})
(draw-box "1" {:text-anchor "end" :borders {}})
(draw-box "0" {:span 2 :borders {}})

(draw-box (text "WPRI" {:font-size 24 :font-weight "bold"}) {:span 10})
(draw-box "PMM" {:span 3})
(draw-box (text "WPRI" {:font-size 24 :font-weight "bold"}) {:span 9})
(draw-box "CBZE" {:span 2})
(draw-box "CBCFE" {:span 2})
(draw-box "CBIE" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 2})
(draw-box "FIOM" {:span 2})

(draw-box "SXLEN-34" {:span 10 :borders {}})
(draw-box "2" {:span 3 :borders {}})
(draw-box "24" {:span 9 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "3" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})

----
