[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30 )
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 20)

(draw-box "SXLEN-1" {:span 5 :text-anchor "start" :borders {}})
(draw-box "8" {:span 5 :text-anchor "end" :borders {}})
(draw-box "7" {:span 2 :borders {}})
(draw-box "6" {:span 2 :borders {}})
(draw-box "5" {:text-anchor "start" :borders {}})
(draw-box "4" {:text-anchor "end" :borders {}})
(draw-box "3" {:text-anchor "start" :borders {}})
(draw-box "1" {:text-anchor "end" :borders {}})
(draw-box "0" {:span 2 :borders {}})

(draw-box (text "WPRI" {:font-weight "bold"}) {:span 10})
(draw-box "CBZE" {:span 2})
(draw-box "CBCFE" {:span 2})
(draw-box "CBIE" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold"}) {:span 2})
(draw-box "FIOM" {:span 2})

(draw-box "SXLEN-8" {:span 10 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "3" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})

----