[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30 )
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 20)

(draw-box "SXLEN-1" {:span 7 :text-anchor "start" :borders {}})
(draw-box "2" {:span 7 :text-anchor "end" :borders {}})
(draw-box "1" {:span 3 :text-anchor "start" :borders {}})
(draw-box "0" {:span 3 :text-anchor "end" :borders {}})

(draw-box "BASE[SXLEN-1:2]" {:span 7 :text-anchor "end" :borders {:top :border-unrelated :left :border-unrelated :bottom :border-unrelated}})
(draw-box (text "(WARL)" {:font-weight "bold"}) {:span 7 :text-anchor "start" :borders {:top :border-unrelated :right :border-unrelated :bottom :border-unrelated}})
(draw-box "MODE" {:span 3 :text-anchor "end" :borders {:top :border-unrelated :left :border-unrelated :bottom :border-unrelated}})
(draw-box (text "(WARL)" {:font-weight "bold"}) {:span 3 :text-anchor "start" :borders {:top :border-unrelated :right :border-unrelated :bottom :border-unrelated}})

(draw-box "SXLEN-2" {:span 14 :borders {}})
(draw-box "2" {:span 6 :borders {}})
----