[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30 )
(def row-header-fn nil)
(def left-margin 200)
(def right-margin 200)
(def boxes-per-row 20)

(draw-box "33" {:span 3 :text-anchor "start" :borders {}})
(draw-box "22" {:span 3 :text-anchor "end" :borders {}})
(draw-box "21" {:span 3 :text-anchor "start" :borders {}})
(draw-box "12" {:span 3 :text-anchor "end" :borders {}})
(draw-box "11" {:span 4 :text-anchor "start" :borders {}})
(draw-box "0" {:span 4 :text-anchor "end" :borders {}})

(draw-box "PPN[1]" {:span 6})
(draw-box "PPN[0]" {:span 6})
(draw-box "page offset" {:span 8})

(draw-box "12" {:span 6 :borders {}})
(draw-box "10" {:span 6 :borders {}})
(draw-box "12" {:span 8 :borders {}})
----