[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "31" {:span 6 :text-anchor "start" :borders {}})
(draw-box "20" {:span 6 :text-anchor "end" :borders {}})
(draw-box "19" {:span 5 :text-anchor "start" :borders {}})
(draw-box "10" {:span 5 :text-anchor "end" :borders {}})
(draw-box "9" {:borders {}})
(draw-box "8" {:borders {}})
(draw-box "7" {:borders {}})
(draw-box "6" {:borders {}})
(draw-box "5" {:borders {}})
(draw-box "4" {:borders {}})
(draw-box "3" {:borders {}})
(draw-box "2" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "0" {:borders {}})

(draw-box "PPN[1]" {:span 12})
(draw-box "PPN[0]" {:span 10})
(draw-box "RSW" {:span 2})
(draw-box "D")
(draw-box "A")
(draw-box "G")
(draw-box "U")
(draw-box "X")
(draw-box "W")
(draw-box "R")
(draw-box "V")

(draw-box "12" {:span 12 :borders {}})
(draw-box "10" {:span 10 :borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
----