[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "55" {:span 4 :text-anchor "start" :borders {}})
(draw-box "30" {:span 4 :text-anchor "end" :borders {}})
(draw-box "29" {:span 4 :text-anchor "start" :borders {}})
(draw-box "21" {:span 4 :text-anchor "end" :borders {}})
(draw-box "20" {:span 4 :text-anchor "start" :borders {}})
(draw-box "12" {:span 4 :text-anchor "end" :borders {}})
(draw-box "11" {:span 4 :text-anchor "start" :borders {}})
(draw-box "0" {:span 4 :text-anchor "end" :borders {}})

(draw-box "PPN[2]" {:span 8})
(draw-box "PPN[1]" {:span 8})
(draw-box "PPN[0]" {:span 8})
(draw-box "page offset" {:span 8})

(draw-box "26" {:span 8 :borders {}})
(draw-box "9" {:span 8 :borders {}})
(draw-box "9" {:span 8 :borders {}})
(draw-box "12" {:span 8 :borders {}})
----
