[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "63" {:borders {}})
(draw-box "62" {:borders {}})
(draw-box "61" {:borders {}})
(draw-box "60" {:span 2 :text-anchor "start" :borders {}})
(draw-box "54" {:span 1 :text-anchor "end" :borders {}})
(draw-box "53" {:span 1 :text-anchor "start" :borders {}})
(draw-box "37" {:span 2 :text-anchor "end" :borders {}})
(draw-box "36" {:span 1 :text-anchor "start" :borders {}})
(draw-box "28" {:span 2 :text-anchor "end" :borders {}})
(draw-box "27" {:span 2 :text-anchor "start" :borders {}})
(draw-box "19" {:span 2 :text-anchor "start" :borders {}})
(draw-box "18" {:span 2 :text-anchor "start" :borders {}})
(draw-box "10" {:span 2 :text-anchor "end" :borders {}})
(draw-box "9" {:span 2 :text-anchor "start" :borders {}})
(draw-box "8" {:span 2 :text-anchor "end" :borders {}})
(draw-box "7" {:borders {}})
(draw-box "6" {:borders {}})
(draw-box "5" {:borders {}})
(draw-box "4" {:borders {}})
(draw-box "3" {:borders {}})
(draw-box "2" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "0" {:borders {}})

(draw-box "N")
(draw-box "PBMT" {:span 2})
(draw-box "Reserved" {:span 3})
(draw-box "PPN[3]" {:span 3})
(draw-box "PPN[2]" {:span 3})
(draw-box "PPN[1]" {:span 4})
(draw-box "PPN[0]" {:span 4})
(draw-box "RSW" {:span 4})
(draw-box "D")
(draw-box "A")
(draw-box "G")
(draw-box "U")
(draw-box "X")
(draw-box "W")
(draw-box "R")
(draw-box "V")

(draw-box "1" {:borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "7" {:span 3 :borders {}})
(draw-box "17" {:span 3 :borders {}})
(draw-box "9" {:span 3 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "2" {:span 4 :borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})
(draw-box "1" {:borders {}})

----
