[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box "55" {:span 3 :text-anchor "start" :borders {}})
(draw-box "48" {:span 2 :text-anchor "end" :borders {}})
(draw-box "47" {:span 3 :text-anchor "start" :borders {}})
(draw-box "39" {:span 2 :text-anchor "end" :borders {}})
(draw-box "38" {:span 3 :text-anchor "start" :borders {}})
(draw-box "30" {:span 2 :text-anchor "end" :borders {}})
(draw-box "29" {:span 3 :text-anchor "start" :borders {}})
(draw-box "21" {:span 2 :text-anchor "end" :borders {}})
(draw-box "20" {:span 3 :text-anchor "start" :borders {}})
(draw-box "12" {:span 3 :text-anchor "end" :borders {}})
(draw-box "11" {:span 3 :text-anchor "start" :borders {}})
(draw-box "0" {:span 3 :text-anchor "end" :borders {}})

(draw-box "PPN[4]" {:span 5})
(draw-box "PPN[3]" {:span 5})
(draw-box "PPN[2]" {:span 5})
(draw-box "PPN[1]" {:span 5})
(draw-box "PPN[0]" {:span 6})
(draw-box "page offset" {:span 6})

(draw-box "8" {:span 5 :borders {}})
(draw-box "9" {:span 5 :borders {}})
(draw-box "9" {:span 5 :borders {}})
(draw-box "9" {:span 5 :borders {}})
(draw-box "9" {:span 6 :borders {}})
(draw-box "12" {:span 6 :borders {}})
----