[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box nil {:span 4 :borders {}})
(draw-box "58" {:span 2 :text-anchor "start" :borders {}})
(draw-box "48" {:span 2 :text-anchor "end" :borders {}})
(draw-box "47" {:span 2 :text-anchor "start" :borders {}})
(draw-box "39" {:span 2 :text-anchor "end" :borders {}})
(draw-box "38" {:span 2 :text-anchor "start" :borders {}})
(draw-box "30" {:span 2 :text-anchor "end" :borders {}})
(draw-box "29" {:span 2 :text-anchor "start" :borders {}})
(draw-box "21" {:span 2 :text-anchor "end" :borders {}})
(draw-box "20" {:span 2 :text-anchor "start" :borders {}})
(draw-box "12" {:span 2 :text-anchor "end" :borders {}})
(draw-box "11" {:span 2 :text-anchor "start" :borders {}})
(draw-box "0" {:span 2 :text-anchor "end" :borders {}})
(draw-box nil {:span 4 :borders {}})

(draw-box nil {:span 4 :borders {}})
(draw-box "VPN[4]" {:span 4})
(draw-box "VPN[3]" {:span 4})
(draw-box "VPN[2]" {:span 4})
(draw-box "VPN[1]" {:span 4})
(draw-box "VPN[0]" {:span 4})
(draw-box "page offset" {:span 4})
(draw-box nil {:span 4 :borders {}})

(draw-box nil {:span 4 :borders {}})
(draw-box "11" {:span 4 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "9" {:span 4 :borders {}})
(draw-box "12" {:span 4 :borders {}})
(draw-box nil {:span 4 :borders {}})
----
