[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 30)
(def right-margin 30)
(def boxes-per-row 32)

(draw-box nil {:span 10 :borders {}})
(draw-box "31" {:borders {}})
(draw-box "30" {:span 2 :text-anchor "start" :borders {}})
(draw-box "20" {:span 2 :text-anchor "end" :borders {}})
(draw-box "19" {:span 2 :borders {}})
(draw-box "18" {:span 2 :borders {}})
(draw-box "17" {:span 3 :borders {}})
(draw-box nil {:span 10 :borders {}})

(draw-box nil {:span 10 :borders {}})
(draw-box "SD")
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 4})
(draw-box "MXR" {:span 2})
(draw-box "SUM" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 3})
(draw-box nil {:borders {:top :border-unrelated :bottom :border-unrelated}})
(draw-box nil {:span 9 :borders {}})

(draw-box nil {:span 10 :borders {}})
(draw-box "1" {:borders {}})
(draw-box "11" {:span 4 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box nil {:borders {}})
(draw-box nil {:span 9 :borders {}})

(draw-box nil {:span 32 :borders {}})

(draw-box nil {:span 5 :borders {}})
(draw-box "16" {:span 2:borders {} :text-anchor "start"})
(draw-box "15" {:borders {}})
(draw-box "14" {:span 2 :borders {} :text-anchor "start"})
(draw-box "13" {:borders {}})
(draw-box "12" {:borders {}})
(draw-box "11" {:borders {}})
(draw-box "10" {:span 2 :borders {} :text-anchor "start"})
(draw-box "9" {:borders {}})
(draw-box "8" {:span 2 :borders {}})
(draw-box "7" {:span 2 :borders {}})
(draw-box "6" {:span 2 :borders {}})
(draw-box "5" {:span 2 :borders {}})
(draw-box "4" {:borders {} :text-anchor "start"})
(draw-box "2" {:borders {} :text-anchor "end"})
(draw-box "1" {:span 2 :borders {}})
(draw-box "0" {:span 2 :borders {}})
(draw-box nil {:span 2 :borders {}})

(draw-box nil {:span 4 :borders {}})
(draw-box nil {:borders {:top :border-unrelated :bottom :border-unrelated}})
(draw-box "XS[1:0]" {:span 3})
(draw-box "FS[1:0]" {:span 3})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 2})
(draw-box "VS[1:0]" {:span 3})
(draw-box "SPP" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 2})
(draw-box "UBE" {:span 2})
(draw-box "SPIE" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 2})
(draw-box "SIE" {:span 2})
(draw-box (text "WPRI" {:font-weight "bold" :font-size 24}) {:span 2})
(draw-box nil {:span 2 :borders {}})

(draw-box nil {:span 5 :borders {}})
(draw-box "2" {:span 3 :borders {}})
(draw-box "2" {:span 3 :borders {}})
(draw-box "2" {:span 2 :borders {}})
(draw-box "2" {:span 3 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "3" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box "1" {:span 2 :borders {}})
(draw-box nil {:span 2 :borders {}})
----