[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 16)

(draw-box "FLEN-1" {:span 8 :text-anchor "start" :borders {}})
(draw-box "0" {:span 8 :text-anchor "end" :borders {}})

(draw-box "f0" {:span 16 :borders {:left :border-unrelated :top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})
(draw-box "f1" {:span 16 :borders {:left :border-unrelated :bottom :border-unrelated :right :border-unrelated}})
(draw-box "⋮" {:span 16 :borders {}})
(draw-box "f31" {:span 16 :borders {:left :border-unrelated :top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})

(draw-box "FLEN" {:span 16 :borders {}})

(draw-box "31" {:span 8 :text-anchor "start" :borders {}})
(draw-box "0" {:span 8 :text-anchor "end" :borders {}})

(draw-box "fcsr" {:span 16 :borders {:left :border-unrelated :top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})

(draw-box "32" {:span 16 :borders {}})
----
