[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 16}])
(def row-height 30)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 16)

(draw-box "XLEN-1" {:span 8 :text-anchor "start" :borders {}})
(draw-box "0" {:span 8 :text-anchor "end" :borders {}})

(draw-box "x0/zero" {:span 16 :borders {:left :border-unrelated :top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})
(draw-box "x1" {:span 16 :borders {:left :border-unrelated :bottom :border-unrelated :right :border-unrelated}})
(draw-box "⋮" {:span 16 :borders {}})
(draw-box "x31" {:span 16 :borders {:left :border-unrelated :top :border-unrelated :bottom :border-unrelated :right :border-unrelated}})
(draw-box "pc" {:span 16 :borders {:left :border-unrelated :bottom :border-unrelated :right :border-unrelated}})

(draw-box "XLEN" {:span 16 :borders {}})
----
