//c-ciw.adoc

[wavedrom, ,svg]
....
{reg: [
  {bits: 2, name: 'op', attr: ['2','C0'],},
  {bits: 3, name: 'rd′',     attr: ['3','dest'],},
  {bits: 8, name: 'imm',    attr: ['8','nzuimm[5:4|9:6|2|3]']},
  {bits: 3, name: 'funct3',    attr: ['3','C.ADDI4SPN']},
], config: {bits: 16}}
....
