[wavedrom, ,svg]
....
{reg:[
    { bits:  2, name: 0x1 },
    { bits:  5, name: 0x0 },
    { bits:  1, name: 0x1 },
    { bits:  3, name: 'n[3:1]' },
    { bits:  1, name: 0x0 },
    { bits:  1, name: 0x0 },
    { bits:  3, name: 0x3 },
]}
....
