// 16.3 Instructions for moving bit patterns between floating-point and integer registers.

[wavedrom, ,svg]
....
{reg: [
  {bits: 7, name: 'opcode', attr: ['7','OP-FP','OP-FP']},
  {bits: 5, name: 'rd',     attr: ['5','dest','dest']},
  {bits: 3, name: 'rm',  attr: ['3','000','000']},
  {bits: 5, name: 'rs1',    attr: ['5','src','src']},
  {bits: 5, name: 'rs2',    attr: ['5','0','0']},
  {bits: 2, name: 'fmt',    attr: ['2','H','H']},
  {bits: 5, name: 'funct5', attr: ['5','FMV.X.H','FMV.H.X']},
]}
....
