//## 2.4 Integer Computational Instructions
//### Integer Register-Immediate Instructions

[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode',    attr: ['7', 'OP-IMM', 'OP-IMM']},
  {bits: 5,  name: 'rd',        attr: ['5', 'dest', 'dest']},
  {bits: 3,  name: 'funct3',     attr: ['3', 'ADDI/SLTI[U]', 'ANDI/ORI/XORI']},
  {bits: 5,  name: 'rs1',       attr: ['5', 'src', 'src']},
  {bits: 12, name: 'imm[11:0]', attr: ['12', 'I-immediate[11:0]', 'I-immediate[11:0]']}
]}
....

//<snio>
