[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode', attr: ['7', 'JALR']},
  {bits: 3,  name: 'imm[14:12]', attr: ['2']},
  {bits: 2,  name: '[21:20]', attr: ['4']},
  {bits: 1,  name: '0', attr: ['1', 'JF']},
  {bits: 1,  name: '[22]', attr: ['4']},
  {bits: 1,  name: '1', attr: ['1']},
  {bits: 5,  name: 'imm[19:15]', attr: ['5']},
  {bits: 1,  name: '[11]', attr: ['1']},
  {bits: 10, name: 'imm[10:1]', attr: ['10', 'offset[23:1]']},
  {bits: 1,  name: '[23]', attr: ['1']},
], config:{fontsize: 12}}
....
