[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode', attr: ['7', 'JFAL']},
  {bits: 1,  name: 'rd', attr: ['1', 'dest']},
  {bits: 2,  name: '[14:13]', attr: ['2']},
  {bits: 4,  name: 'imm[23:20]', attr: ['4']},
  {bits: 1,  name: '~[24]', attr: ['1']},
  {bits: 5,  name: 'imm[19:15]', attr: ['5']},
  {bits: 1,  name: '[11]', attr: ['1']},
  {bits: 10, name: 'imm[10:1]', attr: ['10', 'offset[24:1]']},
  {bits: 1,  name: '[12]', attr: ['1']},
], config:{fontsize: 12}}
....
