//Register-Based loads and Stores


[wavedrom, ,svg]
....
{reg: [
  {bits: 2, name: 'op', type: 8, attr: ['2', 'C0', 'C0', 'C0', 'C0']},
  {bits: 3, name: 'rdʹ', type: 3,  attr: ['3', 'dest','dest','dest','dest']},
  {bits: 2, name: 'imm', type: 2, attr:['2', 'offset[2|6]', 'offset[7:6]', 'offset[2|6]', 'offset[7:6]']},
  {bits: 3, name: 'rs1ʹ', type: 2, attr: ['3', 'base', 'base', 'base', 'base']},
  {bits: 3, name: 'imm', type: 3,  attr: ['3', 'offset[5:3]', 'offset[5:3]', 'offset[5:3]', 'offset[5:3]']},
  {bits: 3, name: 'funct3', type: 8,  attr: ['3', 'C.LW', 'C.LD', 'C.FLW', 'C.FLD']},
], config: {bits: 16}}
....
