//lui-auipc

[wavedrom, ,svg]
....
{reg: [
  {bits: 7,  name: 'opcode', type: 8,     attr: ['7', 'LUI', 'AUIPC']},
  {bits: 5,  name: 'rd', type: 2,         attr: ['5', 'dest', 'dest']},
  {bits: 20, name: 'imm[31:12]', type: 3, attr: ['20', 'U-immediate[31:12]', 'U-immediate[31:12]']}
]}
....
