//#### U-immediate

[wavedrom, ,svg]
....
{reg: [
  {bits: 12, name: '0', type: 5},
  {bits: 8,  name: 'inst[19:12]'},
  {bits: 11, name: 'inst[30:20]'},
  {bits: 1,  name: '[31]', type: 7},
], config:{fontsize: 12, label:{right: 'U-immediate'}}}
....
