[wavedrom,,svg]
....
{reg: [
  {bits: 3, name: 'VLMUL'},
  {bits: 3, name: 'VSEW'},
  {bits: 1, name: 'VTA'},
  {bits: 1, name: 'VMA'},
  {bits: 23, name: 'reserved'},
  {bits: 1, name: 'VILL'},
]}
....
