---
name: Label "Clarification" on Comment
on:
  issue_comment:
    types: [created]

jobs:
  label_issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: startsWith(github.event.comment.body, '/clarification')
    steps:
      - name: Add Clarification Label
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['Clarification']
            })
